#parse("/velocity/govuk_layout.vm")
#@mainLayout()
<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Lending Library</h1>
		<p class="lede">Welcome to the national GOV.UK Lending Library service.</p>
		<div class="panel panel-border-wide">
			<p>$msg.get("INDEX_REGISTERED_USERS", $users.size())</p>
			<ul class="list list-bullet">
				#foreach($user in $users)
					<li>$user</li>
				#end
			</ul>
			<p>$msg.get("INDEX_PASSWORD_INFO")</p>
		</div>
	</div>
	<div class="column-one-third">
	    <p>
	    	#if($currentUser)
	    		<div id="global-header-bar"></div>
	    		<h3 id="welcome-text"> 
    				Welcome, $currentUser
				</h3>
	    		<p>$msg.get("SIGNIN_AUTH_SUCCEEDED", $currentUser)</p>
			#end
		</p>
	</div>
</div>
#end
